USE [master]
GO
/****** Object:  Database [testBHLDB]    Script Date: 04/02/1397 09:10:58 ق.ظ ******/
CREATE DATABASE [testBHLDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testBHLDB', FILENAME = N'D:\Mahshid\SQL\MSSQL13.MSSQL\MSSQL\DATA\testBHLDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testBHLDB_log', FILENAME = N'D:\Mahshid\SQL\MSSQL13.MSSQL\MSSQL\DATA\testBHLDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testBHLDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testBHLDB]
GO
USE [testBHLDB]
GO
/****** Object:  Table [dbo].[PersonTb]    Script Date: 04/02/1397 09:10:59 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonTb](
	[PersonId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Birthdate] [datetime] NULL,
 CONSTRAINT [PK_PersonTb] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
